<!-- 
    Title: _footer.ejs
    Date: 11/24/2023
    Author: Phuong Tran
    Description: Footer partial view
    Sources: https://github.com/buwebdev/web-340/tree/master
-->

<!-- Footer -->
<footer class="footer">
        <p>Made by <i class="italic-text">Bellevue University </i>Student</p>
</footer>


</body>
</html>