<!-- 
    Title: customer-list.ejs
    Date: 11/30/2023
    Author: Phuong Tran
    Description: Customer List Page
    Sources: https://github.com/buwebdev/web-340/tree/master
-->

<!-- Header -->
<%- include('./partials/_header.ejs') %>

    <section id="customer-list">
           <div class="container">
                    <h1>Customer List</h1>
                    <div class="form card-grid-1">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Customer ID</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% customers.forEach(customer => { %>
                                    <tr>
                                        <td><%= customer.customerID %></td>
                                        <td><%= customer.email %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
            </div>
    </section>


<!-- Footer -->
<%- include('./partials/_footer.ejs') %>